body {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}
body .card2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 15px gray;
  transition: all 0.2s ease-in-out;
  margin-top: 7%;
}
body .card2 .card2-image {
  grid-area: image;
  background: url(./../images/city-1.jpg);
  background-size: cover;
}
body .card2 .card2-image.second {
  grid-area: image;
  background: url(./../images/city-2.jpg);
  background-size: cover;
}
body .card2 .card2-image.third {
  grid-area: image;
  background: url(./../images/city-3.jpg);
  background-size: cover;
}
body .card2 .card2-text {
  text-align: center;
  padding: 15px;
}
body .card2 .card2-text .date {
  color: #f94f6b;
  font-weight: bold;
}
body .card2 .card2-text.second {
  color: #f35928;
}
body .card2 .card2-text.third {
  color: #47a63b;
}
body .card2 .body {
  color: #b3b3b3;
}
body .card2 .card2-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f94f6b;
  color: white;
}
body .card2 .card2-stats div p {
  align-items: center;
}
body .card2 .card2-stats div p:last-child {
  font-size: 10px;
}
body .card2:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style2.css.map */
